@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  overflow: hidden;
}

/* .tags {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
} */
/* .infoCar {
  display: flex;
  align-items: baseline;
  gap: 5px;
} */

.oneline {
  display: flex;
  gap: 5px;
}

.carpic {
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  height: 100rem;
  height: auto;
  object-fit: cover;
}

/* width */
.filtri-list-section::-webkit-scrollbar,
.p-dialog-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.filtri-list-section::-webkit-scrollbar-track,
.p-dialog-content::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.filtri-list-section::-webkit-scrollbar-thumb,
.p-dialog-content::-webkit-scrollbar-thumb {
  background: #b0aeae;
}

/* Handle on hover */
.filtri-list-section::-webkit-scrollbar-thumb:hover,
.p-dialog-content::-webkit-scrollbar-thumb:hover {
  background: #969494;
}

.p-dialog-header {
  display: none;
}

/* .login-card {
  backdrop-filter: brightness(60%);
} */

.p-dialog-mask.p-dialog-center.p-component-overlay.p-component-overlay-enter.p-dialog-draggable.p-dialog-resizable {
  background-color: rgba(0, 0, 0, 0.47);
}

.p-dialog-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(
    100vh - 77px
  ); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.small-chart {
  height: 40vh;
  width: 80vw;
  display: flex;
  margin-left: 13vw;
}

.select-month,
.select-year {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#dataRitiro::-webkit-calendar-picker-indicator,
#dataConsegna::-webkit-calendar-picker-indicator {
  display: none;
}

.codice-otp-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
